## Ignition can load a user embedded config file from a dedicated device,
## e.g. /boot/ignition/config.ign. This device will be mounted to obtain
## the Ignition configuration if available
## Type:        string
## Default:     -

USER_CONFIG_DEVICE=/dev/disk/by-label/boot

## Controls whether USER_CONFIG_DEVICE will be added as a "Requires" or
## "Wants" dependency.
## Type:        yesno
## Default:     no

REQUIRE_USER_CONFIG_DEVICE=no
